<h1>Lista de Usuários</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <a href="/users/<%= user.id %>">Ver</a>
          <a href="/users/<%= user.id %>/edit">Editar</a>
          <a href="/users/<%= user.id %>" data-method="delete" data-confirm="Tem certeza que deseja excluir?">Excluir</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="/users/new">Criar Novo Usuário</a>